extends ../layout.jade

block content
  p= t('email.shared.hiUser', { username: username })
  p= t('email.resetPassword.youHaveRequested', { siteName: siteName })
  p= t('email.resetPassword.pleaseVisitThisUrl')
  p= url
  strong= t('email.resetPassword.ifYouDidnt')