extends ../settings-layout.jade

block settingsContent
  - var hasTrustedClients = !!(trustedClients && trustedClients.length > 0);
  h5.ui.top.attached.block.header
    != t('app.devApps')
    a.ui.basic.small.button(href='/settings/applications/new')= t('app.registerNew')
  .ui.attached.segment
    if !clients || clients.length === 0
      != t('app.noApps')
    else
      .ui.list
        each client in clients
          a.item(href='/settings/applications/' + client.id)
            i.anchor.icon
            != client.name
  h5.ui.top.attached.block.header
    != t('app.authorizedApps')
    if hasTrustedClients
      button.ui.basic.small.revoke-all.button= t('app.revokeAll')
  .ui.attached.segment
    if !hasTrustedClients
      != t('app.noTrustedApps')
    else
      .ui.list.trusted.clients
        each client in trustedClients
          .item
            .ui.right.floated.tiny.buttons
              a.ui.tiny.button(href='/settings/connections/' + client.id)= t('app.view')
              button.ui.tiny.red.inverted.revoke.button(data-client-id=client.id.toString())= t('app.revoke')
            i.anchor.icon
            .content.aligned= client.name
block styles
  link(rel="stylesheet", href="/dist/css/settings/applications.css")
block scripts
  script(type="text/javascript", src="/dist/js/settings/applications.js")
