extends ../settings-layout.jade

block settingsContent
  form.ui.segment.form(method='post')
    +messageBlock(messages)
    .field
      label(for='appName')= t('app.name')
      input#appName(type='text', name='name')
    .field
      label(for='appHomepageUrl')= t('app.homepageUrl')
      input#appHomepageUrl(type='text', name='homepageUrl')
    .field
      label(for='appDescription')= t('app.description')
      textarea#appDescription(type='text', name='description')
    .field
      label(for='appAuthCallbackUrl')= t('app.authCallbackUrl')
      input#appAuthCallbackUrl(type='text', name='authCallbackUrl')
    button.ui.primary.button= t('app.register')
block scripts
  script(type="text/javascript", src="/js/settings/applications-new.js")