extends ../settings-layout.jade

block settingsContent
  form(class="ui form", method="post")
    div(class='ui ' + (success ? 'positive' : 'negative') + 'message')
      p= message
    div(class="field")
      label= t('settings.currentPassword')
        div(class="ui left icon input")
          input(type="password", name="currentPassword", autocomplete="off")
          i(class="lock icon")
    div(class="field")
      label= t('settings.newPassword')
      div(class="ui left icon input")
        input(type="password", name="newPassword", autocomplete="off")
        i(class="lock icon")
    div(class="field")
      label= t('settings.repeatPassword')
      div(class="ui left icon input")
        input(type="password", name="verifyPassword", autocomplete="off")
        i(class="lock icon")
    button(class="ui blue submit button", type="submit")= t('common.saveChanges')