extends ../settings-layout.jade

block settingsContent
  form(class="ui form", method="post")
    div(class="field")
      label= t('account.username')
      div(class="ui left icon input")
        input(type="text", placeholder=t('account.username'), name="username", value=username)
        i(class="user icon")
    div(class="field")
      label= t('account.email')
      div(class="ui left icon input")
        input(type="text", placeholder=t('account.email'), name="email", value=email)
        i(class="mail icon")
    button(class="ui blue submit button", type="submit")= t('common.saveChanges')