extends ./public-layout.jade

block content
  h1#sign-header.ui.icon.center.aligned.header
    i.lock.icon
    .content= t('account.password.reset')
  
  form.ui.form(method='post')
    +messageBlock(messages)
    .field
      .ui.left.icon.input
        input(type="text", placeholder=t('account.email'), name="email")
        i.mail.icon
    button.fluid.ui.primary.submit.button(type="submit")= t('account.password.reset')
    .ui.divider
    a(href="/signin")= t('account.signIn')
    |  #{t('account.or').toLocaleLowerCase()} 
    a(href="/signup")= t('account.signUp')

block styles
  link(rel="stylesheet", href="/dest/css/reset-password.css")
block scripts
  script(type="text/javascript", src="/js/reset-password.js")