extends ./public-layout.jade

block content
  h1(id="sign-header", class="ui icon center aligned header")
    i(class="lock icon")
    div(class="content")= t('account.resetPassword')
  
  form(class="ui form segment")
    div(class="field")
      label= t('account.email')
      div(class="ui left icon input")
        input(type="text", placeholder=t('account.email'), name="email")
        i(class="mail icon")
    button(class="ui blue submit button", type="submit")= t('account.resetPassword')
    a(class="ui button", href="/signin")= t('account.cancel')

block styles
  link(rel="stylesheet", href="/css/signin.css")

block scripts
  script(type="text/javascript", src="/js/reset-password.js")