extends ./public-layout.jade

block content
  h1#sign-header.ui.icon.center.aligned.header
    i.signup.icon
    .content= t('account.signUpTo', { appTitle: appTitle })
      .sub.header= t('account.alreadyHaveAccount')
        | 
        a(href="/signin")= t('account.signInNow')

  .signin.options.ui.two.column.middle.aligned.relaxed.fitted.stackable.grid
    .column
      h2= t('account.usingCredentials')
      form.ui.form(method="post")
        +messageBlock(messages)
        .field
          .ui.left.icon.input
            input(type="text", placeholder=t('account.username'), name="username", value=username)
            i.user.icon
        .field
          .ui.left.icon.input
            input(type="text", placeholder=t('account.email'), name="email", value=email)
            i.mail.icon
        .field
          .ui.left.icon.input
            input(type="password", name="password", placeholder=t('account.password.password'), value=password)
            i.lock.icon
        button.fluid.ui.big.primary.submit.button(type="submit")= t('account.createAccount')
    .ui.vertical.divider= t('account.or')
    .center.aligned.column.social.signin.container
      h2= t('account.usingSocialAccount')
      include social-signin

block styles
  link(rel="stylesheet", href="/dist/css/signin.css")
block scripts
  script(type="text/javascript", src="/dist/js/zxcvbn/zxcvbn-async.js")
  script(type="text/javascript", src="/dist/js/signup.js")
