extends ./public-layout.jade

block content
  h1#sign-header.ui.icon.center.aligned.header
    i.sign.in.icon
    .content
      != t('account.signIn')
      .sub.header
        != t('account.dontHaveAccount')
        | 
        a(href='/signup')= t('account.signUpNow')

  .signin.options.ui.two.column.middle.aligned.relaxed.fitted.stackable.grid
    .column
      h2= t('account.usingCredentials')
      form.ui.form.segment(method="post")
        +messageBlock(messages)
        .field
          label= t('account.username')
          .ui.left.icon.input
            input(type="text", placeholder=t('account.username'), name="username")
            i.user.icon
        .field
          label= t('account.password')
          .ui.left.icon.input
            input(type="password", name="password")
            i.lock.icon
        button.ui.blue.submit.button(type="submit")= t('account.login')
        a(class="ui button", href=cancelUrl)= t('account.cancel')
        a(href="/reset-password")= t('account.cantAccessAccount')
    .ui.vertical.divider= t('account.or')
    .center.aligned.column
      h2= t('account.usingSocialAccount')
      a.ui.facebook.button(href="/auth/facebook")
        i.facebook.icon
        != t('social.facebook')
      a.ui.twitter.button(href="/auth/twitter")
        i.twitter.icon
        != t('social.twitter')
      a.ui.google.plus.button(href="/auth/google")
        i.google.plus.icon
        != t('social.google')

block styles
  link(rel="stylesheet", href="/dest/css/signin.css")

block scripts
  script(type="text/javascript", src="/js/signin.js")